$browser-prefixes: false !default;
// $placeholder-color-default: #ff6666;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../../public/fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../../public/fonts/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../../public/fonts/Montserrat-SemiBold.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Optima-Bold';
  src: url(../../public/fonts/Optima-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Optima-Medium';
  src: url(../../public/fonts/Optima-Medium.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url(../../public/fonts/Optima.ttf);
  font-style: normal;
}


// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

// $font_open_sans: 'Open Sans', sans-serif;
// $font_noto_sans: 'Noto Sans', sans-serif;


:root {
  //fonts
  --m_r: 'Montserrat-Regular';
  --m_m: 'Montserrat-Medium';
  --m_s_b: 'Montserrat-SemiBold';
  --optima_bold: 'Optima-Bold';
  --optima_medium: 'Optima-Medium';
  --optima: 'Optima';

  //colors
  --primary-color: #FCDAD1;
  --secondary-color: #FEE8E2;
  --body-color: #FFF4F1;
  --white-color: #fff;
  --color-black: #2A2A2A;
  --crim_color_dark: #BB725F;
  --color_red: #E4185C;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;
  --headerHeight:0px;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

  @media (min-width: 1200px) {
    --container_width: 1170px;
  }

  // @media (min-width: 1680px) {
  //   --container_width: 1360px;
  // }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}













body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: var(--optima);
  font-weight: normal;
  //    background-color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.hidden-xs {
  @media screen and (max-width: 767px) {
      display: none !important;
  }
}

// .visible-xs {
//     @media only screen and (min-width: 768px) and (max-width: 10000px) {
//         display: none !important;
//     }
// }

.no_padd {
  padding: 0;
}

.d_flex {
  display: flex;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img_radius {
  border-radius: 10px;
}

.banner_heading {
  font-size: 100px;
  line-height: 110px;
  color: var(--white-color);
  font-family: var(--optima_bold);
  font-weight: normal;

  @media screen and (max-width: 991px) {
      font-size: 50px;
      line-height: 50px;
  }

  @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 40px;
  }

  span {
      font-size: 85px;

      @media screen and (max-width: 991px) {
          font-size: 50px;
      }
  }

}

.heading_section {
  font-size: 50px;
  line-height: 50px;
  color: var(--white-color);
  font-family: var(--optima_bold);
  font-weight: normal;

  @media screen and (max-width: 991px) {
      font-size: 32px;
      line-height: 40px;
  }

}

.para {
  font-size: 18px;
  line-height: 26px;
  font-family: var(--m_r);
  font-weight: normal;
  color: var(--color-black);

  @media screen and (max-width: 991px) {
      font-size: 16px;
      line-height: 24px;
  }

}


.sub_title {
  font-size: 28px;
  line-height: 26px;
  font-weight: normal;
  font-family: var(--optima_medium);
  color: var(--white-color);

  @media screen and (max-width: 767px) {
      font-size: 22px;
  }
}

.btn_section {
  .btn_txt {
      z-index: 1;
      position: relative;
      text-decoration: none;
      color: var(--color_red);
      font-size: 18px;
      line-height: 26px;
      padding: 8px 75px;
      border-radius: 30px;
      display: inline-block;
      border: 2px solid var(--color_red);
      font-weight: normal;
      transition: all .5s ease-out;
      font-family: var(--optima);

      @media screen and (max-width: 1199px) {
          padding: 10px 55px;
      }

      @media screen and (max-width: 767px) {
          font-size: 16px;
          padding: 10px 40px;
      }

      &:focus {
          outline: 0;
      }

      &:hover {
          color: var(--white-color)  !important;
          background-color: var(--color_red)  !important;
          transition: all .5s ease-out;
      }

  }
}

.font22 {
  font-size: 22px;
  line-height: 26px;

  @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
  }
}

.mobile_show {
  display: none;
}

.mobile_none {
  @media screen and (max-width: 767px) {
      display: none !important;
  }
}

.mobile_show {
  @media screen and (max-width: 767px) {
      display: block !important;
  }
}


.ban_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  border: none;
  background: transparent;
  transition: all .5s ease-out;
  cursor: pointer;

  &:hover {
      opacity: 1;
      transition: all .5s ease-out;
  }
}

.ban_left_arrow {
  left: -35px;
  transform: rotate(180deg);
  z-index: 1;

  @media screen and (max-width: 991px) {
      left: -15px;
  }

  @media screen and (max-width: 767px) {
      left: -10px;
      // top: 40%;
  }
}

.ban_right_arrow {
  right: -35px;
  z-index: 1;

  @media screen and (max-width: 991px) {
      right: -15px;
  }

  @media screen and (max-width: 767px) {
      right: -10px;
  }
}

.para_opacity {
  opacity: 0.8;
}


.d_f {
  display: flex;
}

.f_w {
  display: flex;
  flex-wrap: wrap;
}

.f_w_j {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.f_j {
  display: flex;
  justify-content: space-between;
}

.f_w_se {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.f_w_a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.f_r_aj_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f_r_aj_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f_r_a_center {
  display: flex;
  align-items: center;
}

.pt_15 {
  padding-top: 15px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.ptb_10 {
  padding: 10px 0;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.ptb_20 {
  padding: 20px 0;
}

.pb_30 {
  padding-bottom: 30px;
}

.ptb_30 {
  padding: 30px 0;
}

.pt_30 {
  padding-top: 30px;
}

.pb_20 {
  padding-bottom: 20px;
}

.ptb_20 {
  padding: 20px 0;
}

.pt_40 {
  padding-top: 40px;
}

.pb_40 {
  padding-bottom: 40px;
}

.ptb_40 {
  padding: 40px 0;
}

.ptb_60 {
  padding: 60px 0;

  @media only screen and (max-width: 767px) {
      padding: 40px 0;
  }
}

.pt_60 {
  padding-top: 60px;

  @media only screen and (max-width: 767px) {
      padding-top: 40px;
  }
}

.pb_60 {
  padding-bottom: 60px;

  @media only screen and (max-width: 767px) {
      padding-bottom: 40px;
  }
}

.ptb_100 {
  padding: 100px 0;

  @media only screen and (max-width: 767px) {
      padding: 50px 0;
  }
}

.pt_100 {
  padding-top: 100px;

  @media only screen and (max-width: 767px) {
      padding-top: 60px;
  }
}

.pb_100 {
  padding-bottom: 100px;

  @media only screen and (max-width: 767px) {
      padding-bottom: 60px;
  }
}

.border_radius {
  border-radius: 8px;
}

.border_radius_10 {
  border-radius: 10px;
}


.border_radius_1 {
  border-radius: 15px;
}

.border_radius_12 {
  border-radius: 12px;
}

.border_radius_26 {
  border-radius: 26px;
}

.text_center {
  text-align: center;
}

.text_uppercase {
  text-transform: uppercase;
}

// scroll out css
.toTop {
  &[data-scroll] {
      transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
      opacity: 1;
      transform: translateY(0);
  }

  &[data-scroll="out"] {
      opacity: 0;
      transform: translateY(100px);
  }
}

.toBottom {
  &[data-scroll] {
      transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
      opacity: 1;
      transform: translateY(0);
  }

  &[data-scroll="out"] {
      opacity: 0;
      transform: translateY(-100px);
  }
}

.toLeft {
  &[data-scroll] {
      transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
      opacity: 1;
      transform: translateX(0);
  }

  &[data-scroll="out"] {
      opacity: 0;
      transform: translateX(-100px);
  }
}

.toRight {
  &[data-scroll] {
      transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
      opacity: 1;
      transform: translateX(0);
  }

  &[data-scroll="out"] {
      opacity: 0;
      transform: translateX(100px);
  }
}


// loader css start here
.loader_overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--white-color);
  z-index: 1000;
  padding: 5px 15px;
  transition: 2s ease;

  .container {
      height: 100%;
  }

  img {
      max-width: 210px;
      width: 210px;
      position: absolute;
      top: calc(50% - 105px);
      left: calc(50% - 105px);
      transition: 2s ease;
  }

  &.start {
      height: 83px;

      @media screen and (max-width: 991px) {
          height: 65px;
      }

      img {
          top: 4px;
          left: 10px;
          width: 105px;


          @media screen and (max-width: 767px) {
              top: -2px !important;
              left: 0px !important;
          }

          @media screen and (max-width: 991px) {
              top: -2px;
              left: 1px;
          }
      }
  }
}